/* Button box container */
.btn-box {
  background-color: rgb(247, 247, 247);
  padding: 8px 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
  border-radius: 20px;
}

/* Button styling */
.custom-btn {
  border: none;
  background: none;
  color: gray; /* Default text color */
  font-size: 16px;
  font-weight: bold;
  padding: 5px 4px;
  transition: color 0.3s ease-in-out;
  
}

.cubtn {
  border-radius: 20px;
}

.highlighted {
  background-color: rgb(241, 241, 255);
  border-radius: 20px;
  padding: 4px 12px;
}

/* Hover effect */
.custom-btn:hover {
  color: black;
  background-color: white;
  padding: 4px 12px;
  border-radius: 12px;
}
